<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>local.elion.macland</string>
    <key>CFBundleName</key>
    <string>macland</string>
    <key>CFBundleDisplayName</key>
    <string>macland</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleExecutable</key>
    <string>macland</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.0</string>
    <key>CFBundleVersion</key>
    <string>2</string>
    <key>LSMinimumSystemVersion</key>
    <string>15.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>macland affiche tes prochains événements dans l'encoche.</string>
    <key>NSCalendarsUsageDescription</key>
    <string>macland affiche tes prochains événements dans l'encoche.</string>
    <key>NSLocationUsageDescription</key>
    <string>macland utilise ta position pour afficher la météo de ta ville.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>macland utilise ta position pour afficher la météo de ta ville.</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
